* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.homepage-main-container,
.loginpage-main-container {
  min-height: 100vh;
  min-width: 100vw;
}

.bg-image,
.player-card-items .player-delete-button,
.details-page-div-container,
.navigation-div-container,
.blur {
  position: absolute;
}

.homepage-main-container,
.player-card-items {
  position: relative;
}

.player-card-items,
.player-stats-list,
.login-form,
.homepage-main-container,
.loginpage-main-container {
  display: flex;
  flex-direction: column;
}

.player-card-items,
.player-card-items > button,
.addplayer-form > label > input,
.addplayer-form > button,
.login-button,
.details-page-div-container {
  border-radius: 5px;
}

.player-card-items,
.player-card-items > button,
.addplayer-form > button {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.5s;
}

.player-card-items:hover,
.player-card-items > button:hover,
.addplayer-form > button:hover {
  -moz-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  -webkit-box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.2);
}

.player-card-items > button,
.player-card-items .player-delete-button,
.search-players-label > span,
.addplayer-form > button,
.login-input,
.navigation-div-container > a {
  text-align: center;
  color: white;
}

.player-card-items .player-delete-button,
.navigation-div-container,
.blur {
  top: 0;
  left: 0;
}

.player-card-items .player-delete-button,
.addplayer-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-card-items:hover,
.player-card-items > button:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.player-card-items > button,
.addplayer-form > button {
  width: 100px;
  height: 30px;
  padding: 4px;
  cursor: pointer;
  font-weight: bold;
  border: none;
  background-color: rgb(14, 73, 250);
  box-shadow: 2px 2px 4px black;
}

.bg-image {
  background: url("../src/images/homepage-football.jpg") no-repeat center fixed;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.player-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  margin: 0 75px 75px;
  padding: 25px;
  list-style: none;
  overflow-x: hidden;
  font-family: fantasy;
}

.player-card-items {
  align-items: center;
  text-align: center;
  background-color: rgb(229 228 235 / 68%);
  box-shadow: 2px 2px 4px white;
}

.player-card-items > p {
  margin: 4px;
  padding: 4px;
  text-align: center;
  font-size: 20px;
  color: rgb(14, 73, 250);
}

.player-card-items > img {
  border-radius: 50%;
}

.player-card-items > h4 {
  padding: 8px 0;
  font-size: 18px;
}

.player-card-items .player-delete-button {
  width: 20px;
  height: 20px;
  cursor: pointer;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.623);
  box-shadow: 2px 2px 4px black;
}

.player-stats-list {
  list-style: none;
  font-weight: bold;
  color: black;
}

.player-stats-list > li > p {
  width: 110%;
  padding: 2px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
}

.addplayer-form {
  z-index: 1;
  margin-top: 75px;
  margin-bottom: 25px;
}

.search-players-label > span {
  font-size: 18px;
  font-weight: 500;
  font-family: unset;
}

.addplayer-form > label > input {
  width: 350px;
  height: 1.75rem;
  margin: 0px 8px;
  background: rgb(229 228 235 / 68%);
}

.addplayer-form > label > input:focus {
  outline: none;
  background: rgb(229 228 235 / 68%);
}

.player-card-items > button {
  margin: 8px;
}
.addplayer-form > button {
  font-family: unset;
}

.addplayer-form > button:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.loginpage-main-container {
  background: url("../src/images/login-photo.jpg") no-repeat center fixed;
  background-size: cover;
  justify-content: center;
  align-items: center;
}

.login-form {
  width: 400px;
  gap: 10px;
}

.login-input {
  width: 100%;
  height: 80px;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  background-color: #4169e163;
  opacity: 100%;
}

.login-input:focus {
  outline: 0.1rem solid white;
  color: white;
}

.login-input::placeholder {
  font-size: 1rem;
  color: white;
}

.login-button {
  align-self: center;
  width: 200px;
  height: 50px;
  margin-top: 4px;
  cursor: pointer;
  border: none;
  color: white;
  background-color: #1746d5d1;
}

.navigation-div-container {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  font-family: fantasy;
}

.navigation-div-container > a {
  align-self: flex-end;
  font-size: 18px;
  text-decoration: none;
}

.details-page-div-container {
  top: 50%;
  left: 50%;
  z-index: 3;
  display: inline-block;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  padding: 25px;
  font-size: 18px;
  font-family: emoji;
  filter: none;
  color: white;
  border-radius: 4px;
  background-color: #000000d4;
  box-shadow: 2px 2px 4px black;
}

.blur {
  z-index: 2;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.6);
}

.list-span {
  color: #464646;
}
