body {
  margin: 0;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* homepage css rules */
.homepage-main-container {
  background: url("../src/images/homepage-football.jpg") no-repeat center fixed;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.player-cards-list {
  margin: 0 75px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 50px;
  overflow-x: hidden;
}

.player-card-items {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 5px;
  box-shadow: 2px 2px 4px white;
  background-color: rgb(229 228 235 / 68%);
}

.player-card-items > p {
  margin: 5px;
  padding: 4px;
  font-size: 14px;
  text-align: center;
}

.player-card-items > img {
  border-radius: 50%;
}

.player-card-items > h4 {
  font-size: 18px;
  padding: 8px 0;
}

.player-card-items > button {
  width: 100px;
  margin: 8px;
  padding: 4px;
  color: white;
  background-color: rgb(14, 73, 250);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.player-card-items .player-delete-button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  text-align: center;
  background-color: rgba(255, 0, 0, 0.623);
  cursor: pointer;
}

.player-stats-list {
  margin: 0;
  padding: 0;
  font-weight: bold;
  color: black;
  align-items: flex-start;
  list-style: none;
  display: flex;
  flex-direction: column;
}

/* addplayers page css rules  */
.addplayer-form {
  display: flex;
  margin-top: 75px;
  margin-bottom: 25px;
  align-items: center;
  justify-content: center;
}

/* login page css rules  */

.loginpage-main-container {
  background: url("../src/images/login-photo.jpg") no-repeat center fixed;
  background-size: cover;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 400px;
}

.login-input {
  border: none;
  color: white;
  border-radius: 10px;
  width: 100%;
  height: 80px;
  text-align: center;
  background-color: #4169e163;
  opacity: 100%;
}

.login-input:focus {
  color: white;
  outline: 0.1rem solid white;
}

.login-input::placeholder {
  color: white;
}

.login-button {
  margin-top: 5px;
  border: none;
  border-radius: 5px;
  width: 200px;
  height: 50px;
  color: white;
  align-self: center;
  background-color: #1746d5d1;
}

/* navigation page css rules   */
.navigation-div-container {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
}

.navigation-div-container > h1 {
  margin: 0;
  padding-left: 5px;
}

.navigation-div-container > a {
  color: white;
  text-decoration: none;
  align-self: flex-end;
  padding-right: 5px;
}

.details-page-div-container {
  position: absolute;
  /* width: 500px; */
  /* height: 500px; */
  border: 2px solid white;
  color: white;
}
